
<ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Charbhar</ion-card-subtitle>
      <ion-card-title>Arrange Beads to win!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Can you trap your opponents beads to ensure your win! Click to play.
    </ion-card-content>
    <ion-button style="margin-left: 15px;" class="mt-4" (click)="gotoGame('charbhar')">Play</ion-button>
</ion-card>
<ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Game2</ion-card-subtitle>
      <ion-card-title>Yet to be decided!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Any suggestions welcome!
    </ion-card-content>
    <ion-button style="margin-left: 15px;" class="mt-4" (click)="gotoGame('Charbhar')" disabled="true">Play</ion-button>
</ion-card>

